<!-- views/index.ejs -->
<!doctype html>
<html>
<body>

        <p>Login:</p>

      <p>  <a href="/login/student">Student Login</a> </p>
      <p>  <a href="/login/ta">TA Login</a> </p>
      <p>  <a href="/login/admin">Admin Login</a> </p>

</body>
</html>
