<!-- views/index.ejs -->
<!doctype html>
<html="en">
  <style>
    #bg{
  background-image: url("https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/14206114_1095926313832220_1057996826869215569_o.jpg?oh=5974d2cdc6a53354c548e02f81376781&oe=595688BC");
  color: grey;
  font-family: courier new;
}
</style>

  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GIKI ATTENDANCE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" style="font-family: courier new">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
    <div style="margin: 30px 0px 0px 0px">
        <!--<a  id="mute" href="#myvid" class="btn" style>
          <i class="glyphicon glyphicon-volume-off"></i>
        </a>-->
      <h1 style="color:grey; text-align: center">GIKI ATTENDANCE</h1>
        </div></div></div>
    <h5 style="text-align: center; color:grey">Login as</h5>
    <div style="margin: 0px 0px 0px -15px; text-align: center">
    <ul class="breadcrumb">
  <li onclick="document.getElementById('id01').style.display='block'"><a style="color:grey" href="/login/ta">Teacher's Assistant</a></li>
      <li  onclick="document.getElementById('id02').style.display='block'"><a style="color:grey"href="/login/student">Students</a></li>
      <li onclick="document.getElementById('id03').style.display='block'"><a style="color:grey"href="/login/admin">Admin</a></li>
      </ul></div></div></nav>


    <div id="bg" style="padding: 500px 20px 500px 20px">

    <quote><h3 style="letter-spacing: 3px; color:grey; margin: 28px 0px 0px 0px" class="text-center">“Accept the challenges so that you can feel the exhilaration of victory.”
</h3><footer class="text-center">~Rainbow Rowell, Eleanor & Park</footer>
  </quote>
</div>


   <p style="family-font: courier new; color:grey; text-align:center"></p>
</body>
</html>
        <!--<p>Login:</p>

      <p>  <a href="/login/student">Student Login</a> </p>
      <p>  <a href="/login/ta">TA Login</a> </p>
      <p>  <a href="/login/admin">Admin Login</a> </p>
      <p>fuck off</p>

</body>
</html>-->
