
<!-- views/index.ejs -->
<!doctype html>
<html="en">

  <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CMS</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
  #bg{
  background-image: url("http://i63.tinypic.com/v7cxmb.png");
  color: #4a494e;
  font-family: Courier new;
}
</style>
  <body id="bg">
<div class="container">

<form class="form-horizontal" style="text-align:left" action="/panel/ta/registerCourses" method="post">
<fieldset style="font-family: courier new">
  <br><br>
  <h2 style="text-align:center">Select Courses</h2><br><br>
  <datalist id="courses">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>">
      <%}%>
    </datalist>
<input list="courses" name="course_1">
  <br><br>
    <input list="courses" name="course_2">
  <br><br>
    <input list="courses" name="course_3">
  <br><br>
    <input list="courses" name="course_4">
  <br><br>
    <input list="courses" name="course_5">
  <br><br>

    <button type="button" class="btn btn-default">Register Courses</button>
</form>
</div>
    </div><!-- /.container -->

    <a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>
    <style>
    .fix{
      position: absolute;
        top: 2%;
        right: 2%;
    }
    </style>
    </body>
</html>
