<!doctype html>
<html>
<body>

  <form action="/panel/ta/registerCourses" method="post">
    <datalist id="courses">
      <% for(course in courseList) {%>
        <option value="<%=courseList[course].courseCode%>">
      <%}%>
    </datalist>

    <input list="courses" name="course_1">
    <input list="courses" name="course_2">
    <input list="courses" name="course_3">
    <input list="courses" name="course_4">
    <input list="courses" name="course_5">

    <button type="submit">Register Courses</button>
  </form>

</body>
</html>
