<!-- views/index.ejs -->
<!doctype html>
<html>

  <style>
    #bg{

  background-image: url("http://i63.tinypic.com/v7cxmb.png");
  color: grey;
  font-family: courier new;
    }
    </style>

    <head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Student</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron" style="font-family: courier new; color: grey; text-align:center">
      <h3>Student Panel</h3>
    </div>
    <div id="bg" style="text-align: center; padding: 200px 0px 300px 0px">
      <h2><a href="/panel/student/registerCourses">Register Courses</a> / <a href="/panel/student/viewAttendance">View Attendance</a></h2>
      <br>
      <br>
      <h4>Notification:</h4>
      <p id="notification" style=" color:papayawhip; font-size:medium"  ></p>
      <%if(message){%>
      <p style=" color:papayawhip; font-size:medium"><%=message%></p>
      <%}%>
    </div></div>

    <a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>

    
   <script>
     
     // if (day == "" && time == "") {
     //   document.getElementById("txtHint").innerHTML = "";
     //   return;
     // }
     if (window.XMLHttpRequest) {
       // code for IE7+, Firefox, Chrome, Opera, Safari
       xmlhttp = new XMLHttpRequest();
     } else { // code for IE6, IE5
       xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
     }
     xmlhttp.onreadystatechange = function () {
       if (this.readyState == 4 && this.status == 200) {
         document.getElementById("notification").innerHTML = this.responseText;
       }
     }
     xmlhttp.open("GET", "/panel/student/notification", true);
     xmlhttp.send();
   </script>
    <style>
    .fix{
      position: absolute;
        top: 2%;
        right: 2%;
    }
    </style>
</body>
</html>
