<!-- views/index.ejs -->
<!doctype html>
<html>
<body>

        <p>Student Panel:</p>

      <p>  <a href="/panel/student/registerCourses">Register Courses</a> </p>
      <p>  <a href="/panel/student/viewAttendance">View Attendance</a> </p>

</body>
</html>
