<!-- views/index.ejs -->
<!doctype html>
<html>
<body>

        <p>TA Panel:</p>

      <p>  <a href="/panel/ta/registerCourses">Register Courses</a> </p>
      <p>  <a href="/panel/ta/viewAttendance">View Attendance</a> </p>
      <p>  <a href="/panel/ta/rescheduleCourse">Reschedule Course</a> </p>
</body>
</html>
