

<!-- views/index.ejs -->
<!doctype html>
<html>

  <style>
    #bg{

  background-image: url("/images/panel.png");
  color: grey;
  font-family: courier new;
    }
    </style>

    <head>
	<title>TA</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css" >

</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron" style="font-family: courier new; color: grey; text-align:center">
      <h3>TA Panel</h3>
    </div>
    <div id="bg" style="text-align: center; padding: 200px 0px 500px 0px">
      <h2><a href="/panel/ta/registerCourses">Register Courses</a> / <a href="/panel/ta/viewUpdateAttendance">View Attendance</a> / <a href="/panel/ta/rescheduleCourse">Reschedule Class</a></h2>
      <%if(message){%>
      <p style=" color:papayawhip; font-size:medium"><%=message%></p>
      <%}%>
    </div></div>
    <a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>
    <style>
    .fix{
      position: absolute;
        top: 2%;
        right: 2%;
    }
    </style>
</body>
</html>
