<!DOCTYPE html>
<html lang="en">
<head>
	<title>Admin Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>
<body>
<body style="font-family:Courier new">

<div class="container">
  <h2 style="text-align:center">Attendance: <%=courseCode%></h2> <br>
  <h3 style="text-align:center">Select Date</h3><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <%
      for(date in uniqueDates){%>
        <tr>
          <td>
            <a href="/panel/ta/viewUpdateAttendance/<%=courseCode%>/<%=uniqueDates[date].date%>"><%=uniqueDates[date].date%></a>
          </td>
        </tr>
      <%}
      %>
    </tbody>
  </table>
</div>
<a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>
 <a href="/panel/ta"><button type="button" class="left btn btn-default">Panel</button></a>
<style>
.fix{
  position: absolute;
    top: 2%;
    right: 2%;
}

      .left {
        position: absolute;
        top: 2%;
        left: 2%;
      }
</style>
</body>
</html>
