<!doctype html>
<html>
<body>

<%
for(course in courses){
  currCourse=courses[course].courseCode.replace(/ /g,"_");
  %>

  <p>  <a href="/panel/ta/viewAttendance/<%=currCourse%>"><%=courses[course].courseCode%></a> </p>
<%}
%>
</body>
</html>
