<!DOCTYPE html>
<html lang="en">

<head>
	<title>Admin Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" >
</head>

<body style="font-family:Courier new">

	<div class="container">
		<h2 style="text-align:center">Attendance</h2> <br>
		<h3 style="text-align:center">Select CourseCode</h3><br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Course Code</th>
				</tr>
			</thead>
			<tbody>
				<%
				for(course in courses){
					currCourse=courses[course].courseCode.replace(/ /g,"_");
					%>
					<tr>
						<td>
							<a href="/panel/ta/viewUpdateAttendance/<%=currCourse%>">
								<%=courses[course].courseCode%>
							</a>
						</td>
					</tr>
					<%}
					%>
			</tbody>
		</table>
		<a href="/logout"><button type="button" class="fix btn btn-default">Logout</button></a>
		<a href="/panel/ta"><button type="button" class="left btn btn-default">Panel</button></a>
		</div>

		<style>
		.fix{
			position: absolute;
			top: 2%;
			right: 2%;
		}
		.left {
        position: absolute;
        top: 2%;
        left: 2%;
      }
		</style>
	</body>
	</html>
