<!doctype html>
<html>
<body>

<%
for(course in courses){
  currCourse=courses[course].courseCode;
  %>

  <p>  <a href="/panel/student/viewAttendance/<%=currCourse%>"><%=courses[course].courseCode%></a> </p>
<%}
%>


</body>
</html>
